<template>
  <div class="container-fluid">
    <div class="monitoring-match--detail-wrapper d-none">
      <a href="#" @click.prevent="backToPlaylist"><i class="fa fa-angle-double-left"></i> Back to Monitoring</a>
      <div class="row">
        <div class="col p-3 order-2 order-xl-1">
          <img
            :src="logMatchDetail.player1_photo? baseUrl+ '/assets/img/player/' + logMatchDetail.player1_photo : baseUrl + '/assets/img/user_avatar.png'"
            class="rounded-circle mx-auto d-block square-img"
            :alt="logMatchDetail.player1_photo"
          >
          <div class="card card-default mt-3">
            <div class="card-header font-weight-bold">
              Achievement
            </div>
            <div class="card-body">
              <div
                v-if="achievements.player1.length == 0"
                class="alert alert-info mb-0"
              >No achievement</div>
              <div
                v-for="(item, index) in achievements.player1"
                :key="index"
                class="mb-2"
              >
                <i
                  :class="[item.category == 'general'? 'text-dark' : 'text-danger','fa-trophy fa']"
                  :title="item.category"
                ></i>
                {{parseWinner(item.winner_position)}} Winner {{item.tournament_name}} ({{item.city}} {{item.achievement_year}})
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 order-1 order-xl-2">
          <div class="card card-default mb-md-3">
            <div class="card-header font-weight-bold">
              <div class="d-flex justify-content-between align-items-center">
                <div
                  class="d-inline-block text-truncate"
                  style="max-width:40%"
                >
                  <span class="badge badge-dark">P1</span>
                  {{logMatchDetail.player1_name}}
                </div>
                <div
                  class="d-inline-block text-truncate"
                  style="max-width:40%"
                >
                  <span class="badge badge-dark">P2</span>
                  {{logMatchDetail.player2_name}}
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Match <i class="fa fa-angle-double-right"></i></span>
                <span>{{matchPhase.toUpperCase()}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Division <i class="fa fa-angle-double-right"></i></span>
                <span>{{logMatchDetail.division}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Match System <i class="fa fa-angle-double-right"></i></span>
                <span>{{logMatchDetail.match_system != null ?logMatchDetail.match_system.toUpperCase():''}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Match No <i class="fa fa-angle-double-right"></i></span>
                <span>{{logMatchDetail.match_index}}.{{logMatchDetail.match_number}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Time <i class="fa fa-angle-double-right"></i></span>
                <span>{{showTime}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Status <i class="fa fa-angle-double-right"></i></span>
                <span
                  class="badge"
                  :class="logMatchDetail.match_status == 1? 'badge-success': 'badge-dark'"
                >{{logMatchDetail.match_status == 0? 'Idle' : logMatchDetail.match_status == 1? 'Playing' : 'Finished' }}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Winning by <i class="fa fa-angle-double-right"></i></span>
                <span>{{logMatchDetail.winning}}</span>
              </div>
              <hr>
              <div class="text-center">
                Referee<br>
                <span class="font-weight-bold text-primary">{{logMatchDetail.referee_name || '-'}}</span>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="col p-3 order-3 order-xl-3">
          <img
            :src="logMatchDetail.player2_photo? baseUrl+ '/assets/img/player/' + logMatchDetail.player2_photo : baseUrl + '/assets/img/user_avatar.png'"
            class="rounded-circle mx-auto d-block square-img"
            :alt="logMatchDetail.player2_photo"
          >
          <div class="card card-default mt-3">
            <div class="card-header font-weight-bold">
              Achievement
            </div>
            <div class="card-body">
              <div
                v-if="achievements.player2.length == 0"
                class="alert alert-info mb-0"
              >No achievement</div>
              <div
                v-for="(item, index) in achievements.player2"
                :key="index"
                class="mb-2"
              >
                <i
                  :class="[item.category == 'general'? 'text-dark' : 'text-danger','fa-trophy fa']"
                  :title="item.category"
                ></i>
                {{parseWinner(item.winner_position)}} Winner {{item.tournament_name}} ({{item.city}} {{item.achievement_year}})
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="monitoring-match--wrapper">
      <a :href="baseUrl + 'entry/monitoring'"><i class="fa fa-angle-double-left"></i> Back to Monitoring</a>
      <div class="d-flex flex-column flex-lg-row-reverse justify-content-center">
        <div class="col-12 col-md-4" v-bind:class="[togglePlaylist ? 'd-block' : 'd-none']">
          <div class="card card-default">
            <div class="card-header d-flex justify-content-start align-items-center">
              <button 
                class="btn btn-sm btn-secondary"
                v-bind:class="[togglePlaylist ? '' : 'd-none']"
                @click.prevent="hidePlaylist()">
                  <i class="fa fa-arrow-right fa-fw"></i>
              </button>
              <span class="ml-3">Queue </span>
            </div>
            <div class="card-body">
              <div
                v-show="matchPlaylist.length == 0"
                class="my-3 text-center"
              >{{filterDivisionId == null? 'no matches available' : 'Empty Data'}}</div>
              <div class="list-group" v-show="matchPlaylist.length > 0">
                <button 
                type="button" 
                class="list-group-item list-group-item-action" 
                v-for="(match, index) in matchPlaylist" :key="index"
                :class="{active:filterDivisionId == match.division_id}"
                @click="filterData(match.division_id)"> 
                  <strong> {{match.division}} </strong><br />
                  <span class="badge badge-success"> {{match.count_match}} match(es) </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" v-bind:class="[togglePlaylist ? 'col-md-8' : 'col-md-12']">
          <div class="card card-default">
            <div class="card-header d-flex justify-content-between align-items-center">
              <span>Monitoring &mdash; Match </span>
              <button 
                class="btn btn-sm btn-primary"
                v-bind:class="[togglePlaylist ? 'd-none' : '']" 
                @click.prevent="showPlaylist()">
                  <i class="fa fa-list-alt fa-fw"></i> show queue
              </button>
            </div>
            <div class="card-body">
              <div class="monitoring-match">
                <div
                  v-show="logMatchs.length == 0"
                  class="my-3 text-center"
                >{{filterDivisionId == null? 'Select division to view log match' : 'Empty Data'}}</div>
                <div class="monitoring-match--bracket">
                  <div
                    v-if="selectedMatchSystem=='elimination'"
                    class="mb-4"
                  >
                    <Bracket :rounds="matchRounds">
                      <template #player="{ player }">
                        {{ player.name }}
                      </template>
                      <template #player-extension-bottom="{ match }">
                        <div v-if="match.extra.match_pair && match.extra.match_status == 1" class="match_online">
                          <button class="btn btn-sm btn-success">
                            <i class="fas fa-circle"></i>
                          </button>
                          <button class="btn btn-sm btn-primary" @click.prevent="showMatchDetail(match.extra.match_id)">
                            show detail
                          </button>
                        </div>
                        <div v-else-if="match.extra.match_pair && match.extra.match_status == 0" class="match_offline">
                          <button class="btn btn-sm btn-dark">
                            <i class="far fa-circle"></i>
                          </button>
                          <button class="btn btn-sm btn-primary" @click.prevent="showMatchDetail(match.extra.match_id)">
                            show detail
                          </button>
                        </div>
                      </template>
                    </Bracket>

                    <span v-if="thirdPlaceRound.length!=0">3rd place</span>
                    <Bracket :rounds="thirdPlaceRound">
                      <template v-slot:player="player">
                        {{ player.player.name }}
                      </template>
                    </Bracket>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Bracket from 'custom-bracket';
import { parseWinner } from '../shared';
export default {
  name: "MonitoringShowMatch",
  props: {
    baseUrl: String,
    divisionId: String
  },
  components: {
    Bracket,
  },

  data() {
    return {
      logMatchs: [],
      logMatchDetail: {},
      getMatchId: null,
			selectedDivision: undefined,
      filterDivisionId: null,
      matchPlaylist: null,
      displayStatus: false,
      togglePlaylist: true,
      form: {
        division_id: null,
        pd1_id: null,
        pd2_id: null
      },
      winningOptions: [],
      refereeOptions: [],
      achievements: {
        player1: [],
        player2: []
      },
      selectedMatchSystem: 'elimination',
    };
  },
  mounted() {
    this.updateMatchPlaylist()
  },

  computed: {
    selectedMatchId() {
      return this.getMatchId
    },
    matchRounds() {
      const container = [];
      // looping pada match index
      for (let index = this.matchIndex.min; index <= this.matchIndex.max; index++) {
        const roundGames = this.logMatchs.filter(f => f.match_index == index && f.match_number != 0)
          .map(m => {
            return {
              player1: {
                id: m.pd1_id,
                name: this.checkPlayer(m, 1),
                winner: this.checkWinner(m, 1)
              },
              player2: {
                id: m.pd2_id,
                name: this.checkPlayer(m, 2),
                winner: this.checkWinner(m, 2)
              },
              extra: {
                match_id: this.checkMatchId(m),
                match_status: this.checkMatchStatus(m),
                match_pair: this.checkMatchPair(m)
              }
            };
          });
        container.push({ games: roundGames });
      }
      return container;
    },

    thirdPlaceRound() {
      if (!this.filterDivisionId) return [];
      const thirdPlaceMatch = this.logMatchs.find(item => item.match_number == 0);
      if (!thirdPlaceMatch) return [];

      return [
        {
          games: [
            {
              player1: {
                id: thirdPlaceMatch.pd1_id,
                name: this.checkPlayer(thirdPlaceMatch, 1),
                winner: this.checkWinner(thirdPlaceMatch, 1)
              },
              player2: {
                id: thirdPlaceMatch.pd2_id,
                name: this.checkPlayer(thirdPlaceMatch, 2),
                winner: this.checkWinner(thirdPlaceMatch, 2)
              },
              extra: {
                match_id: this.checkMatchId(thirdPlaceMatch),
                match_status: this.checkMatchStatus(thirdPlaceMatch),
                match_pair: this.checkMatchPair(thirdPlaceMatch)
              }
            }
          ]
        }
      ];
    },

    matchIndex() {
      let arr = Object.values(this.logMatchs.map(item => item.match_index));
      let min = Math.min(...arr);
      let max = Math.max(...arr);

      return {
        max, min
      };
    },

    winnerOptions() {
      return [
        {
          value: 0,
          text: 'Draw'
        },
        {
          value: this.logMatchDetail.pd1_id,
          text: `Player 1 - ${this.logMatchDetail.player1_name}`
        },
        {
          value: this.logMatchDetail.pd2_id,
          text: `Player 2 - ${this.logMatchDetail.player2_name}`
        }
      ];
    },

    showTime() {
      return this.convertMillisecondToTime(this.logMatchDetail.time, 'hours') + ' h : ' +
        this.convertMillisecondToTime(this.logMatchDetail.time, 'minutes') + ' m : ' +
        this.convertMillisecondToTime(this.logMatchDetail.time, 'seconds') + ' s : ' +
        this.convertMillisecondToTime(this.logMatchDetail.time, 'milliseconds') + ' ms';
    },

    maxTimeLimit() {
      if (this.matchPhase == 'final') return this.setting.final_time;
      else if (this.matchPhase == 'semifinal') return this.setting.semifinal_time;
      else return this.setting.regular_time;
    },

    matchPhase() {
      if (this.logMatchDetail.match_index == this.logMatchDetail.max_match_index) {
        return 'final';
      } else if (this.logMatchDetail.match_index == this.logMatchDetail.max_match_index - 1) {
        return 'semifinal';
      } else {
        return 'regular';
      }
    }
	},
  methods: {
    parseWinner,

    async getDetailLogMatch(match_id) {
      try {
        const logMatchDetail = await this.$axios.get(`entry/log_match/get_detail/${match_id}`);
        this.logMatchDetail = logMatchDetail.data.data;
      } catch (error) {
        console.log(error.response);
        this.$noty.error('Failed fetch logmatch detail');
      }
    },

    async getWinnings() {
      try {
        const winnings = await this.$axios.get('master/winning/get_all');
        this.winningOptions = winnings.data.data;
      } catch (error) {
        console.log(error.response);
        this.$noty.error('Failed fetch winning');
      }
    },

    async getReferees() {
      try {
        const referees = await this.$axios.get('master/referee/get_all');
        this.refereeOptions = referees.data.data;
      } catch (error) {
        console.log(error.response);
        this.$noty.error('Failed fetch referee');
      }
    },

    async getPlayerAchivements(playerId, playerPosition) {
      try {
        const achievements = await this.$axios.get(`master/achievement/filter/${playerId}`);
        console.log(achievements);
        this.achievements[playerPosition] = achievements.data.data;
      } catch (error) {
        console.log(error.response);
        this.$noty.error('Failed Fetch Achievements');
      }
    },
    loadData() {
      // load options
      this.getWinnings();
      this.getReferees();

      this.$bvModal.show('modal-update-log-match');
      // populate form
      let { match_status, time, winning_id, referee_id, winner, pd1_redcard, pd1_yellowcard, pd1_greencard, pd2_redcard, pd2_yellowcard, pd2_greencard } = this.logMatchDetail;
      this.form.match_status = match_status;

      this.form.time.hours = this.convertMillisecondToTime(time, 'hours');
      this.form.time.minutes = this.convertMillisecondToTime(time, 'minutes');
      this.form.time.seconds = this.convertMillisecondToTime(time, 'seconds');
      this.form.time.milliseconds = this.convertMillisecondToTime(time, 'milliseconds');

    },

    convertMillisecondToTime(ms, select) {
      if (select == 'hours') return Math.floor(ms / 1000 / 60 / 60);
      else if (select == 'minutes') return Math.floor(ms / 1000 / 60) % 60;
      else if (select == 'seconds') return Math.floor(ms / 1000) % 60;
      else if (select == 'milliseconds') return Math.floor(ms % 1000);
      else return null;
    },

    convertTimeToMillisecond({ hours, minutes, seconds, milliseconds }) {
      if (hours) {
        hours = hours * 1000 * 60 * 60;
      }
      if (minutes) {
        minutes = minutes * 1000 * 60;
      }
      if (seconds) {
        seconds = seconds * 1000;
      }
      return hours + minutes + seconds + milliseconds;
    },
    checkPlayer(m, playerNumber) {
      // ambil player
      if (m.match_status == 2) {
        return playerNumber == 1 ? `${m.player1_name || 'Bye'} (${m.player1_club_alias || '-'})` : `${m.player2_name || 'Bye'} (${m.player2_club_alias || '-'})`;
      } else {
        return playerNumber == 1 ? `${m.player1_name || '...'} (${m.player1_club_alias || '...'}) ${m.player1_last_achievement ? ' - ' + m.player1_last_achievement.winner_position : ''}` : `${m.player2_name || '...'} (${m.player2_club_alias || '...'}) ${m.player2_last_achievement ? ' - ' + m.player2_last_achievement.winner_position : ''}`;
      }
    },

    checkWinner(m, playerNumber) {
      // jika belum ada pemenang, set winner ke null
      // jika skipped match maka set ke win
      // lalu set true dan false tergantung pemenang
      if (m.winner == null) return null;
      else if (m.winner == -1 && playerNumber == 1 && m.pd1_id == null) return null;
      else if (m.winner == -1 && playerNumber == 2 && m.pd2_id == null) return null;
      else if (m.winner == -1) return true;
      else if (m.winner == 0) return null;

      if (playerNumber == 1) {
        return m.winner == m.pd1_id ? true : false;
      } else {
        return m.winner == m.pd2_id ? true : false;
      }
    },
    checkMatchId(m) {
      return m.id
    },
    checkMatchStatus(m) {
      return m.match_status
    },
    checkMatchPair(m) {
      if(m.pd1_id !== null && m.pd2_id !== null) return true
      else return false;
    },
    async showMatchDetail(match_id) {
      let matchWrapper = document.querySelector('.monitoring-match--wrapper')
      let matchWrapperDetail = document.querySelector('.monitoring-match--detail-wrapper')
      
      matchWrapper.classList.toggle('slideup')
      matchWrapperDetail.classList.toggle('d-none')
      
      this.getMatchId = match_id
      await this.getDetailLogMatch(match_id);
      this.getPlayerAchivements(this.logMatchDetail.player1_id, 'player1');
      this.getPlayerAchivements(this.logMatchDetail.player2_id, 'player2');
    },
    backToPlaylist() {
      this.logMatchDetail = {}
      let matchWrapper = document.querySelector('.monitoring-match--wrapper')
      let matchWrapperDetail = document.querySelector('.monitoring-match--detail-wrapper')
      
      matchWrapper.classList.toggle('slideup')
      matchWrapperDetail.classList.toggle('d-none')
    },
    showMatch() {
      window.location.href = `monitoring/show_match`;
    },
    showPlaylist() {
        this.togglePlaylist = true
    },
    hidePlaylist() {
        this.togglePlaylist = false
    },
    async getMatchPlaylist() {
        //get_match_division_playlist
      try {
        const matchStarted = await this.$axios.get(
          "entry/monitoring/get_match_playlist"
        );
        this.matchPlaylist = matchStarted.data.data;
				if(this.matchPlaylist.length == 0) this.filterDivisionId = null
      } catch (error) {
        console.log(error.response);
        this.$noty.error("Failed Fetch Divisions");
      }
    },
    async filterData(divisionId) {
      try {
        const logMatchs = await this.$axios.get(`entry/log_match/filter_division/${divisionId}`);
        this.logMatchs = logMatchs.data.data;
				this.filterDivisionId = divisionId

        // set match system from db
        if (logMatchs.data.data.length != 0) {
          this.selectedMatchSystem = logMatchs.data.data[0].match_system;
        }
      } catch (error) {
        console.log(error.response);
        this.$noty.error('Failed Filter Data');
      }
    },
    updateMatchPlaylist: function() {
      this.matchPlaylist = setInterval(this.getMatchPlaylist, 5000);
    }
  },

  async created() {
    this.getMatchPlaylist();
  }
};
</script>

<style lang="css">
.min-width-10 {
  min-width: 10rem;
}
.min-width-7 {
  min-width: 7rem;
}
.monitoring-match--wrapper {
  transition: all .5s;
  height: 100%;
  opacity: 1;
}
.monitoring-match--wrapper.slideup {
  height: 0;
  opacity: 0;
  transition: all .5s;
}
.monitoring-match--wrapper .vtb-wrapper > .vtb-item {
	width: 100%;
	justify-content: center;
}
.vtb-extra {
  padding: 0px !important;
    margin: -20px -10px -10px;
}
.vtb-extra div{
  padding: 10px 20px!important 
}
</style>