<template>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card card-default">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span>Monitoring</span>
          </div>
          <div class="card-body">
            <div class="monitoring-match">
              <Bracket :rounds="matchRounds">
                <template #player="{ player }">
                  {{ player.name }}
                </template>
              </Bracket>
            </div>
            <div class="monitoring-tables">
              <b-table
                v-if="logMatchs.length != 0"
                striped
                hover
                responsive
                :items="logMatchs"
                :fields="fieldLogMatch"
                :tbody-tr-class="rowClass"
              >
                <template v-slot:cell(division)="data">
                  <div class="min-width-7">
                    <span>{{data.item.division}}</span><br>
                  </div>
                </template>

                <template v-slot:cell(player1_name)="data">
                  <div
                    v-if="!data.item.player1_name && data.item.match_index == 1 && data.item.match_system == 'elimination' && data.item.winner != -1"
                    class="text-danger font-italic"
                  >Click Start Match to skip 'BYE'</div>
                  <div
                    v-else
                    class="min-width-10"
                    :class="winnerMark(data.item,1)"
                  >
                    <span class="font-weight-bold">{{data.item.player1_name}}</span>
                    <span
                      v-if="data.item.player1_last_achievement"
                      class="badge badge-secondary"
                      :title="tooltipAchievement(data.item.player1_last_achievement)"
                    >
                      {{data.item.player1_last_achievement.winner_position}}
                    </span>
                    <br>
                    <span class="small text-muted">{{data.item.player1_club}}</span>
                  </div>
                </template>

                <template v-slot:cell(player2_name)="data">
                  <div
                    v-if="!data.item.player2_name && data.item.match_index == 1 && data.item.match_system == 'elimination' && data.item.winner != -1"
                    class="text-danger font-italic"
                  >Click Start match to skip 'BYE'</div>
                  <div
                    v-else
                    class="min-width-10"
                    :class="winnerMark(data.item,2)"
                  >
                    <span class="font-weight-bold">{{data.item.player2_name}}</span>
                    <span
                      v-if="data.item.player2_last_achievement"
                      class="badge badge-secondary"
                      :title="tooltipAchievement(data.item.player2_last_achievement)"
                    >
                      {{data.item.player2_last_achievement.winner_position}}
                    </span>
                    <br>
                    <span class="small text-muted">{{data.item.player2_club}}</span>
                  </div>
                </template>

                <template v-slot:cell(vs)="data">
                  <span class="h5 font-weight-bold">VS</span>
                </template>
              </b-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal detail a vs b -->
    <b-modal
      id="modal-detailmatch"
      hide-footer
      size="xl"
      centered
      modal-class="modal-xl"
    >
      <div class="row">
        <div class="col p-3 order-2 order-xl-1">
          <img
            :src="logMatchDetail.player1_photo? baseUrl+ '/assets/img/player/' + logMatchDetail.player1_photo : baseUrl + '/assets/img/user_avatar.png'"
            class="rounded-circle mx-auto d-block square-img"
            :alt="logMatchDetail.player1_photo"
          >
          <div class="card card-default mt-3">
            <div class="card-header font-weight-bold">
              Achievement
            </div>
            <div class="card-body">
              <div
                v-if="achievements.player1.length == 0"
                class="alert alert-info mb-0"
              >No achievement</div>
              <div
                v-for="(item, index) in achievements.player1"
                :key="index"
                class="mb-2"
              >
                <i
                  :class="[item.category == 'general'? 'text-dark' : 'text-danger','fa-trophy fa']"
                  :title="item.category"
                ></i>
                {{parseWinner(item.winner_position)}} Winner {{item.tournament_name}} ({{item.city}} {{item.achievement_year}})
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 order-1 order-xl-2">
          <div class="card card-default mb-md-3">
            <div class="card-header font-weight-bold">
              <div class="d-flex justify-content-between align-items-center">
                <div
                  class="d-inline-block text-truncate"
                  style="max-width:40%"
                >
                  <span class="badge badge-dark">P1</span>
                  {{logMatchDetail.player1_name}}
                </div>
                <div
                  class="d-inline-block text-truncate"
                  style="max-width:40%"
                >
                  <span class="badge badge-dark">P2</span>
                  {{logMatchDetail.player2_name}}
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Match <i class="fa fa-angle-double-right"></i></span>
                <span>{{matchPhase.toUpperCase()}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Division <i class="fa fa-angle-double-right"></i></span>
                <span>{{logMatchDetail.division}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Match System <i class="fa fa-angle-double-right"></i></span>
                <span>{{logMatchDetail.match_system != null ?logMatchDetail.match_system.toUpperCase():''}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Match No <i class="fa fa-angle-double-right"></i></span>
                <span>{{logMatchDetail.match_index}}.{{logMatchDetail.match_number}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Time <i class="fa fa-angle-double-right"></i></span>
                <span>{{showTime}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Status <i class="fa fa-angle-double-right"></i></span>
                <span
                  class="badge"
                  :class="logMatchDetail.match_status == 1? 'badge-success': 'badge-dark'"
                >{{logMatchDetail.match_status == 0? 'Idle' : logMatchDetail.match_status == 1? 'Playing' : 'Finished' }}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <span>Winning by <i class="fa fa-angle-double-right"></i></span>
                <span>{{logMatchDetail.winning}}</span>
              </div>
              <hr>
              <div class="text-center">
                Referee<br>
                <span class="font-weight-bold text-primary">{{logMatchDetail.referee_name || '-'}}</span>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="col p-3 order-3 order-xl-3">
          <img
            :src="logMatchDetail.player2_photo? baseUrl+ '/assets/img/player/' + logMatchDetail.player2_photo : baseUrl + '/assets/img/user_avatar.png'"
            class="rounded-circle mx-auto d-block square-img"
            :alt="logMatchDetail.player2_photo"
          >
          <div class="card card-default mt-3">
            <div class="card-header font-weight-bold">
              Achievement
            </div>
            <div class="card-body">
              <div
                v-if="achievements.player2.length == 0"
                class="alert alert-info mb-0"
              >No achievement</div>
              <div
                v-for="(item, index) in achievements.player2"
                :key="index"
                class="mb-2"
              >
                <i
                  :class="[item.category == 'general'? 'text-dark' : 'text-danger','fa-trophy fa']"
                  :title="item.category"
                ></i>
                {{parseWinner(item.winner_position)}} Winner {{item.tournament_name}} ({{item.city}} {{item.achievement_year}})
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Bracket from 'custom-bracket';
import { parseWinner } from '../shared';
export default {
  name: "Monitoring",
  props: {
    baseUrl: String,
    divisionId: String
  },
  components: {
    Bracket,
  },

  data() {
    return {
      logMatchs: [],
      getMatchId: null,
      divisions: {},
      logMatchDetail: {},
      offsetHeight: 0,
      scrollSpeed: 10000,
      scrolledToBottom: false,
      indexDivision: -1,
      selectedDivision: null,
      countDivision: 0,
      scrollStatus: null,
      currentMatch: null,
      winningOptions: [],
      refereeOptions: [],
      achievements: {
        player1: [],
        player2: []
      },
    }
  },
  computed: {
    fieldLogMatch() {
      return [
        {
          'key': 'division'
        },
        {
          'key': 'player1_name',
          'label': 'Player 1'
        },
        {
          'key': 'vs',
          'label': ''
        },
        {
          'key': 'player2_name',
          'label': 'Player 2'
        },
      ];
    },

    matchRounds() {
      const container = [];
      // looping pada match index
      for (let index = this.matchIndex.min; index <= this.matchIndex.max; index++) {
        const roundGames = this.logMatchs.filter(f => f.match_index == index && f.match_number != 0)
          .map(m => {
            return {
              player1: {
                id: m.pd1_id,
                name: this.checkPlayer(m, 1),
                winner: this.checkWinner(m, 1)
              },
              player2: {
                id: m.pd2_id,
                name: this.checkPlayer(m, 2),
                winner: this.checkWinner(m, 2)
              },
              extra: {
                match_id: this.checkMatchId(m),
                match_status: this.checkMatchStatus(m),
                match_pair: this.checkMatchPair(m)
              }
            };
          });
        container.push({ games: roundGames });
      }
      return container;
    },

    thirdPlaceRound() {
      if (!this.filterDivisionId) return [];
      const thirdPlaceMatch = this.logMatchs.find(item => item.match_number == 0);
      if (!thirdPlaceMatch) return [];

      return [
        {
          games: [
            {
              player1: {
                id: thirdPlaceMatch.pd1_id,
                name: this.checkPlayer(thirdPlaceMatch, 1),
                winner: this.checkWinner(thirdPlaceMatch, 1)
              },
              player2: {
                id: thirdPlaceMatch.pd2_id,
                name: this.checkPlayer(thirdPlaceMatch, 2),
                winner: this.checkWinner(thirdPlaceMatch, 2)
              },
              extra: {
                match_id: this.checkMatchId(thirdPlaceMatch),
                match_status: this.checkMatchStatus(thirdPlaceMatch),
                match_pair: this.checkMatchPair(thirdPlaceMatch)
              }
            }
          ]
        }
      ];
    },

    matchIndex() {
      let arr = Object.values(this.logMatchs.map(item => item.match_index));
      let min = Math.min(...arr);
      let max = Math.max(...arr);

      return {
        max, min
      };
    },

    winnerOptions() {
      return [
        {
          value: 0,
          text: 'Draw'
        },
        {
          value: this.logMatchDetail.pd1_id,
          text: `Player 1 - ${this.logMatchDetail.player1_name}`
        },
        {
          value: this.logMatchDetail.pd2_id,
          text: `Player 2 - ${this.logMatchDetail.player2_name}`
        }
      ];
    },

    showTime() {
      return this.convertMillisecondToTime(this.logMatchDetail.time, 'hours') + ' h : ' +
        this.convertMillisecondToTime(this.logMatchDetail.time, 'minutes') + ' m : ' +
        this.convertMillisecondToTime(this.logMatchDetail.time, 'seconds') + ' s : ' +
        this.convertMillisecondToTime(this.logMatchDetail.time, 'milliseconds') + ' ms';
    },

    matchPhase() {
      if (this.logMatchDetail.match_index == this.logMatchDetail.max_match_index) {
        return 'final';
      } else if (this.logMatchDetail.match_index == this.logMatchDetail.max_match_index - 1) {
        return 'semifinal';
      } else {
        return 'regular';
      }
    },
  },
  methods: {
    parseWinner,
    showMatch() {
      window.location.href = `monitoring/show_match`;
    },
    rowClass(item) {
      if (!item) return;
      if (item.winner === -1) return 'table-secondary';
    },
    winnerMark(item, playerDivision) {
      if (item.match_status == 0) return '';

      // skipped match
      if (item.winner == -1) return 'text-dark';

      // draw
      if (item.match_status == 2 && item.winner == 0) {
        return 'text-primary';
      }

      // win or lose
      if (playerDivision == 1 && item.match_status == 2) {
        if (item.winner == item.pd1_id) {
          return 'text-success';
        } else {
          return 'text-danger';
        }
      } else {
        if (item.winner == item.pd2_id) {
          return 'text-success';
        } else {
          return 'text-danger';
        }
      }
    },

    convertMillisecondToTime(ms, select) {
      if (select == 'hours') return Math.floor(ms / 1000 / 60 / 60);
      else if (select == 'minutes') return Math.floor(ms / 1000 / 60) % 60;
      else if (select == 'seconds') return Math.floor(ms / 1000) % 60;
      else if (select == 'milliseconds') return Math.floor(ms % 1000);
      else return null;
    },

    convertTimeToMillisecond({ hours, minutes, seconds, milliseconds }) {
      if (hours) {
        hours = hours * 1000 * 60 * 60;
      }
      if (minutes) {
        minutes = minutes * 1000 * 60;
      }
      if (seconds) {
        seconds = seconds * 1000;
      }
      return hours + minutes + seconds + milliseconds;
    },
    async getDetailLogMatch(match_id) {
      try {
        const logMatchDetail = await this.$axios.get(`entry/log_match/get_detail/${match_id}`);
        this.logMatchDetail = logMatchDetail.data.data;
      } catch (error) {
        console.log(error.response);
        this.$noty.error('Failed fetch logmatch detail');
      }
    },
    async showMatchDetail(match_id, last) {
      this.getMatchId = match_id
      await this.getDetailLogMatch(match_id);
      this.getPlayerAchivements(this.logMatchDetail.player1_id, 'player1');
      this.getPlayerAchivements(this.logMatchDetail.player2_id, 'player2');
    },

    async getReferees() {
      try {
        const referees = await this.$axios.get('master/referee/get_all');
        this.refereeOptions = referees.data.data;
      } catch (error) {
        console.log(error.response);
        this.$noty.error('Failed fetch referee');
      }
    },

    async getPlayerAchivements(playerId, playerPosition) {
      try {
        const achievements = await this.$axios.get(`master/achievement/filter/${playerId}`);
        this.achievements[playerPosition] = achievements.data.data;
      } catch (error) {
        console.log(error.response);
        this.$noty.error('Failed Fetch Achievements');
      }
    },
    scroll () {
      window.onscroll = () => {
        let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight

        if (!this.scrolledToBottom && bottomOfWindow) {
          this.scrolledToBottom = true
        }
      }
    },
    getOffsetHeight() {
      let h = document.getElementById('wrapper').offsetHeight;
      this.offsetHeight = h;
    },

    tooltipAchievement(achievement) {
      return `${parseWinner(achievement.winner_position)} winner on ${achievement.tournament_name} (${achievement.city} ${achievement.achievement_year})`;
    },
    stopscroll() {
      clearInterval(this.scrollStatus);
    },
    scrollto(x) {
      //elapsed
      let e;
      //duration in milli seconds
      let d = this.scrollSpeed;
      //b as in begin, where to start (you could get this dynamically)
      let b = 0;
      //start time, when the animation starts
      let s = (new Date()).getTime(); //start time
      //the magic
      this.scrollStatus = setInterval(function () {
          //calculate elapse time 
          e = (new Date()).getTime() - s;
          //check if elapse time is less than duration
          if (e < d) {
              //animate using an easing equation
              window.scrollTo(0, Math.round(-x * Math.cos(e / d * (Math.PI / 2)) + x + b));
          } else {
              //animation is complete, stop interval timer
              clearInterval(this.scrollStatus);
              this.scrollStatus = null;
          }
      }, 4);
    },
    checkPlayer(m, playerNumber) {
      // ambil player
      if (m.match_status == 2) {
        return playerNumber == 1 ? `${m.player1_name || 'Bye'} (${m.player1_club_alias || '-'})` : `${m.player2_name || 'Bye'} (${m.player2_club_alias || '-'})`;
      } else {
        return playerNumber == 1 ? `${m.player1_name || '...'} (${m.player1_club_alias || '...'}) ${m.player1_last_achievement ? ' - ' + m.player1_last_achievement.winner_position : ''}` : `${m.player2_name || '...'} (${m.player2_club_alias || '...'}) ${m.player2_last_achievement ? ' - ' + m.player2_last_achievement.winner_position : ''}`;
      }
    },

    checkWinner(m, playerNumber) {
      // jika belum ada pemenang, set winner ke null
      // jika skipped match maka set ke win
      // lalu set true dan false tergantung pemenang
      if (m.winner == null) return null;
      else if (m.winner == -1 && playerNumber == 1 && m.pd1_id == null) return null;
      else if (m.winner == -1 && playerNumber == 2 && m.pd2_id == null) return null;
      else if (m.winner == -1) return true;
      else if (m.winner == 0) return null;

      if (playerNumber == 1) {
        return m.winner == m.pd1_id ? true : false;
      } else {
        return m.winner == m.pd2_id ? true : false;
      }
    },
    checkMatchId(m) {
      return m.id
    },
    checkMatchStatus(m) {
      return m.match_status
    },
    checkMatchPair(m) {
      if(m.pd1_id !== null && m.pd2_id !== null) return true
      else return false;
    },
    async filterData(divisionId) {
      try {
        const logMatchs = await this.$axios.get(`entry/monitoring/filter_division/${divisionId}`);
        this.logMatchs = logMatchs.data.data;
        this.filterDivisionId = divisionId
        window.scrollTo(0,0);

        setTimeout(() => {
          this.getOffsetHeight()
          if (!this.scrolledToBottom) {
            this.scrollto(this.offsetHeight);
            setTimeout(() => {
              this.nextDivision();
            }, this.scrollSpeed);
          }
        }, 1000);
      } catch (error) {
        console.log(error.response);
        this.$noty.error('Failed Filter Data');
      }
    },
    getDivision() {
      this.indexDivision = this.indexDivision + 1; // increase i by one
      this.indexDivision = this.indexDivision % this.countDivision; // if we've gone too high, start from `0` again
      //console.log(this.divisions[this.indexDivision]);
      this.selectedDivision = this.divisions[this.indexDivision]; // give us back the item of where we are now
      this.filterData(this.selectedDivision.division_id);
    },
    nextDivision() {
      this.$bvModal.hide('modal-detailmatch');
      this.getDivision();
    },
    async getDivisions() {
      try {
        const divisions = await this.$axios.get(
          "entry/monitoring/get_divisions"
        );
        this.divisions = divisions.data.data;
        this.countDivision = this.divisions.length;

        this.nextDivision();
      } catch (error) {
        console.log(error.response);
        this.$noty.error("Failed Fetch Divisions");
      }
    },
    async getCurrentMatch() {
      try {
        const currentMatch = await this.$axios.get(
          `entry/monitoring/get_current_match/${this.selectedDivision.division_id}`
        );
        this.currentMatch = currentMatch.data.data;
        if (this.currentMatch != null) {
          this.stopscroll();
          this.$bvModal.show('modal-detailmatch');
          this.showMatchDetail(this.currentMatch.id)
        } else {
          this.$bvModal.hide('modal-detailmatch');
        }
      } catch (error) {
        console.log(error.response);
        this.$noty.error("Failed Fetch Current Match");        
      }
    },
    updateCurrentMatch() {
      this.currentMatch = setInterval(this.getCurrentMatch, 2000);
    }
  },
  mounted () {
    this.updateCurrentMatch();
  },
  async created() {
    this.getDivisions();
  }
}
</script>


<style lang="css">
.min-width-10 {
min-width: 10rem;
}
.min-width-7 {
min-width: 7rem;
}
.monitoring-idle {
position: relative;
}
.monitoring-idle--overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
transition: opacity 0.5s;
background: rgba(0, 0, 0, 0.7);
z-index: -1;
}
.monitoring-idle.active .monitoring-idle--overlay {
opacity: 1;
z-index: 1;
transition: opacity 0.5s;
}
#modal-detailmatch {
  width: 100%;
  max-width: 100%;
}
</style>